.burger_prices {
    padding: 30px;
    margin: auto;
}

.burger_prices {
    text-align: left;
} 

.burger_prices span {
     font-style: italic;
}

h3::first-letter {
    text-transform:capitalize;
}