.burger_prices {
  padding: 30px;
  width: 15%;
}

.burger_prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger_prices h3,
.burger_prices h2 {
  text-align: left;
}

.burger_prices span {
  font-style: italic;
}

h3::first-letter {
  text-transform: capitalize;
}
