.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.footer ul li {
  margin: 0;
  height: 20px;
  cursor: pointer;
  color: antiquewhite;
  font-weight: 800;
  font-size: larger;
  border: 0px solid aquamarine;
  border-bottom: 1px solid black;
  padding: 5px 10px;
}
.footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer ul > li:hover {
  border-color: antiquewhite;
  opacity: 0.6;
}
